<!doctype html>
<html>
    <head>
       <h1>Welcome to My Blllllllllllllllllllogs!</h1>      
    </head>
<body>
    <div>
        
        <a href = '/newblog'>New Blog</a> <!-- this page creates a new blog entry that is added to that database-->
        <a href = '/blog'>Archives</a> <!-- this page should show every blog entry in the database -->
        <a href = '/login'>Login</a> <!-- this page will require login credentials for users-->
        <a href = '/register'>Registration</a> <!-- this page will create login information for users-->
       <a href = 'logout'>LOGOUT</a> <!-- this page will delete the user session forget logged in email and password-->
       <a href = 'individual_blog'>Indy Blog</a>
    </div>
   

</body>
</html>

{% block content %}
{% endblock %}