{% extends "base.html" %}

{% block content %}
<h1>New Blog Post!</h1>
<form method='post'>
    <label>
       Title:
    </label>
    <textarea name = "text"></textarea>
    <label>
        Content:
    </label>
        <textarea name = "text"></textarea>
    </label>
    <input type="submit" value='Update Blog Content' />
</form>

<hr />

  
<hr />

<ul>
    {% for blog in blogs %}
    <li>
            <h2>{{blog.title}}</h2>
            <br>
            {{blog.content}}
        </li>
    {% endfor %}
</ul>

{% endwith %}

{% block content %}
{% endblock %}